{% if page.title %}
	{% assign post_number = page.title %}
	{% assign date = page.date %}
	{% assign script_title = page.script_title %}
	{% assign title_text = page.title_text %}
	{% capture page_title %}{{ script_title }} | {{ site.name }}{% endcapture %}
	{% capture page_description %}{{ content | strip_html | truncatewords: 20 }}{% endcapture %}
{% else %}
	{% assign post_number = site.posts.first.title %}
	{% assign date = site.posts.first.date %}
	{% assign script_title = site.posts.first.script_title %}
	{% assign title_text = site.posts.first.title_text %}
	{% assign page_title = site.name | site.description %}
	{% capture page_title %}{{ site.name }} | {{ site.description }}{% endcapture %}
	{% capture page_description %}{{ site.name }} - {{ site.description }}{% endcapture %}
{% endif %}
			
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ page_description }}">

		<meta property="og:title" content="{{ page_title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{site.url}}/script-share-image.jpg" />
		<meta property="og:description" content="{{page_description}}" />
		
		<link rel="stylesheet" href="{{site.baseurl}}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-55756947-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body>
		<header>
			<a href="{{site.baseurl}}/" title="{{ site.description }}"><h1>{{ site.name }}</h1></a>
			<h2>{{ script_title }}</h2>
			<p class="date">
        <time datetime="{{date}}">
          {{ date | date: '%A %-d %B %Y' }}
        </time>
			</p>
      
			<a href="{{site.baseurl}}/downloads/{{ post_number }}.pdf" title="{{ script_title}} PDF" target="_blank">
            <i class="fa fa-file-pdf-o fa-2x"></i>
       </a>
		</header>
		<main>
			<article>
				<div class="paper" title="{{ title_text }}">
					<div class="circle circle-top"></div>
					<div class="script-text">
						{{ content }}
					</div>
					<div class="circle circle-bottom"></div>
				</div>
			</article>
		</main>
		<nav>
			{% if post_number ==  "1" %}
				<span>Previous</span>
			{% else %}
				<a href="/{{ post_number | minus:1 }}">Previous</a>
			{% endif %}
			{% if post_number == site.posts.first.title  %}
				<span>Next</span>
			{% else %}
				<a href="/{{ post_number | plus:1 }}">Next</a>
			{% endif %}
		</nav>
		<footer>
			<div id="contact">
				<p>
					<a href="mailto:info@onepagescripts.com">info@onepagescripts.com</a>
				</p>
			</div>
			<div id="social-links">
				<a href="http://www.facebook.com/onepagescripts" title="One Page Scripts on Facebook">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
				</a>
				<a href="http://www.twitter.com/onepagescripts" title="One Page Scripts on Twitter" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
				</a>
				<a href="{{site.baseurl}}/feed.xml" title="One Page Scripts RSS">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x"></i>
          </span>
				</a>
			</div>
		</footer>
	</body>
</html>
